html, body {
  padding: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
}

html {
  background: url('./wallpaper.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}